  <div class="lpb-controls">
    <!-- <button class="lp-editor__drag">{{ 'Drag'|t }}</button> -->
    <button class="lpb-up"><span>{{ 'Move Up'|t }}</span></button>
    <button class="lpb-down"><span>{{ 'Move Down'|t }}</span></button>
    <button class="lpb-edit"><span>{{ 'Edit'|t }}</span></button>
    <button class="lpb-delete"><span>{{ 'Delete'|t }}</span></button>
  </div>
