  <div class="lpb-controls">
    <span class="lpb-controls-label">{{label}}</span>
    <a class="lpb-up" href="#move-up"><span>{{ 'Move Up'|t }}</span></a>
    <a class="lpb-down" href="#move-down"><span>{{ 'Move Down'|t }}</span></a>
    <a class="lpb-edit use-ajax" data-dialog-type="modal" data-dialog-options="{{ dialog_options }}" href="{{edit_url}}"><span>{{ 'Edit'|t }}</span></a>
    <a class="lpb-delete use-ajax"  data-dialog-type="modal" href="{{delete_url}}" data-lpb-confirm="{{ 'Really delete? There is no undo.'|t }}"><span>{{ 'Delete'|t }}</span></a>
  </div>
