  <div{{ attributes }}>
    <a class="lpb-drag lpb-tooltip--hover lpb-tooltip--focus" aria-describedby="{{unique_id}}--tip" href="#nav"><span>{{ 'Nav'|t }}</span></a>
    <span class="lpb-tooltiptext" id="{{unique_id}}--tip">{{ 'Drag or click and use arrow keys to move. <br />Press Return or Tab when finished.'|t }}</span>
    <span class="lpb-controls-label">{{label}}</span>
    <a class="lpb-up" href="#move-up"><span>{{ 'Move Up'|t }}</span></a>
    <a class="lpb-down" href="#move-down"><span>{{ 'Move Down'|t }}</span></a>
    {% if edit_attributes %}<a{{ edit_attributes }}><span>{{ 'Edit'|t }}</span></a>{% endif %}
    {% if delete_attributes %}<a{{ delete_attributes }}><span>{{ 'Delete'|t }}</span></a>{% endif %}
  </div>
